<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- Business Objects -->
	<bean id="businessDelegate" 
			class="net.viralpatel.struts.helloworld.business.BusinessDelegate">
	</bean>

	<!-- Actions Classes -->    
	<bean name="/login" class="net.viralpatel.struts.helloworld.action.LoginAction">
		<property name="businessDelegate"><ref local="businessDelegate"/></property>
	</bean>
</beans>



